.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

h1,
h3 {
    text-align: center;
    font-weight: 500;
    margin: 2rem;
}

ul {
    margin-bottom: 2rem;
}

li {
    list-style-type: none;
}

.example-button-container {
    width: 20%;
}

.todo-list-element {
    width: 80%;
}

.task {
    display: flex;
}

.task:hover {
    background-color: rgb(247, 247, 247, 0.2);
    border-radius: 5px;
}

.example-container .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.example-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.button-container {
    padding: 10px;
}

.passed-container {
    background: linear-gradient(270deg, #D4D4D4 0%, #D4D4D4 45.62%, #F88686 108.12%);
    margin: 25px;
    width: 600px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.todo-container {
    background: linear-gradient(90deg, #87a6e1 -28.3%, #D4D4D4 51.89%, #D4D4D4 100%);
    margin: 25px;
    width: 600px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.completed-container {
    background: linear-gradient(90deg, #BAE187 -28.3%, #D4D4D4 51.89%, #D4D4D4 100%);
    margin: 25px;
    width: 600px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

::ng-deep .custom-style {
    background-color: #63a30e;
    color: #ffff;
}