<h1 class="">{{mainTitle}}</h1>
<form (ngSubmit)="addTodo(myForm)" #myForm="ngForm" ngNativeValidate>
    <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Type your task!</mat-label>
            <input matInput placeholder="Write a task" ngModel name="title" required="" #title>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" name="expiration_date" min="{{today}}" ngModel>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="button-container">
            <button mat-stroked-button (click)="openSnackBar(title.value)" mat-flat-button color="primary">Add</button>
        </div>
    </div>

</form>

<div class="container">
    <div class=" card passed-container">
        <h3>EXPIRED TASKS</h3>
        <ul *ngFor="let todo of todoList">
            <div class="task" *ngIf="todo.expiration_date< today">
                <div class="todo-list-element">
                    <li>{{todo.title}}</li>
                    <li>{{todo.expiration_date}}</li>
                </div>
                <div class="example-button-container">
                    <button (click)="onDelete(todo)" mat-mini-fab color="warn"
                        aria-label="Example icon button with a menu icon">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </ul>
    </div>
    <div class="col card m-2 p-3 todo-container">
        <h3>CURRENTLTY TO DO'S</h3>
        <ul *ngFor="let todo of todoList" cdkDrag>
            <!-- <form (ngSubmit)="addTodo(myForm)" #myForm="ngForm" ngNativeValidate>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Type your task!</mat-label>
                        <input matInput placeholder="Write a task" ngModel name="title" required="" #title>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker" name="expiration_date" min="{{formatDate()}}" ngModel>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <div class="button-container">
                        <button mat-stroked-button (click)="updateTodo(todo)" mat-flat-button
                            color="primary">Update</button>
                    </div>
                </div>

            </form> -->

            <div class="task" *ngIf="!todo.completed">
                <div class="todo-list-element">
                    <mat-checkbox (click)="changeStasus(todo)" [(ngModel)]="todo.completed" [checked]="todo.completed" color="primary">
                        <li>{{todo.title}} </li>
                        <li>{{todo.expiration_date}}</li>
                    </mat-checkbox>
                </div>
                <div class="">
                    <div class="example-button-container">
                        <button (click)="updateTodo(todo)" mat-mini-fab color="primary"
                            aria-label="Example icon button with a menu icon">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="">
                    <div class="example-button-container">
                        <button (click)="onDelete(todo)" mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </ul>
    </div>
    <div class="card completed-container">
        <h3>COMPLATED TASKS</h3>
        <ul *ngFor="let todo of todoList" cdkDrag>
            <div class="task" *ngIf="todo.completed==true">
                <div class="todo-list-element">
                    <mat-checkbox id={{todo._id}} (click)="changeStasus(todo)" [(ngModel)]="todo.completed" [checked]="todo.completed"
                        color="primary">
                        <li>{{todo.title}} </li>
                        <li>{{todo.expiration_date}}</li>
                    </mat-checkbox>
                </div>
                <div class="">
                    <div class="example-button-container">
                        <button (click)="onDelete(todo)" mat-mini-fab color="warn"
                            aria-label="Example icon button with a menu icon">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>